@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--blue-50);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--blue-50);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--font-figtree: var(--font-figtree);
	--font-modak: var(--font-modak);
	--color-black-600: var(--black-600);
	--color-black-700: var(--black-700);
	--color-black-900: var(--black-900);
	--color-black-950: var(--black-950);
	--color-white-200: var(--white-200);
	--color-white-300: var(--white-300);
	--color-white-400: var(--white-400);
	--color-blue-50: var(--blue-50);
	--color-blue-100: var(--blue-100);
	--color-yellow-800: var(--yellow-800);
}

:root {
	--background: #f6f6f6;
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: #c4c4c4;
	/* --ring: oklch(0.708 0 0); */
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--radius: 0.35rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--black-600: #808080;
	--black-700: #4d4d4d;
	--black-900: #202020;
	--black-950: #040404;
	--white-200: #e0e0e0;
	--white-300: #c4c4c4;
	--white-400: #606060;
	--blue-50: #003366;
	--blue-100: #f2f5f7;
	--yellow-800: #5c6418;
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.145 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.145 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.985 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.396 0.141 25.723);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.269 0 0);
	--input: oklch(0.269 0 0);
	--ring: oklch(0.439 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.269 0 0);
	--sidebar-ring: oklch(0.439 0 0);
}
/*  */

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

/**Extras*/
button,
[role='button'] {
	cursor: pointer;
	outline: none;
	@apply focus-within:ring-0 ring-0;
}

a {
	outline: none;
}

body {
	background-color: var(--background);
	font-family: var(--font-figtree);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

button,
input {
	font-family: inherit;
}

textarea {
	resize: none;
}

.app-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.aria-selected\:bg-primary[aria-selected='true'] {
	@apply bg-blue-50;
}
.select-chevron {
	.lucide-chevron-down {
		opacity: 1;
	}
}
.\[\&_\.recharts-cartesian-axis-tick_text\]\:fill-muted-foreground
	.recharts-cartesian-axis-tick
	text {
	fill: var(--color-black-950);
	@apply text-xs md:text-sm;
}
.recharts-cartesian-axis-tick-line {
	stroke: var(--color-black-950);
}
.\[\&_\.recharts-cartesian-grid_line\[stroke\=\'\#ccc\'\]\]\:stroke-border\/50
	.recharts-cartesian-grid
	line[stroke='#ccc'] {
	stroke: var(--color-white-200);
}
.recharts-legend-wrapper div {
	@apply text-black-950;
}
.recharts-legend-wrapper div .h-2.w-2 {
	border-radius: 50%;
}
.rdp-button[aria-selected='true'] {
	@apply bg-blue-50;
}
.data-\[placeholder\]\:text-muted-foreground[data-placeholder] {
	@apply text-white-300;
}

button[name='next-month'],
button[name='previous-month'] {
	width: 32px;
	max-height: 32px !important;
}
.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__slide {
	flex: 0 0 100%;
	min-width: 0;
}
.pulse {
	width: 22.4px;
	height: 22.4px;
	border-radius: 50%;
	background: var(--color-blue-50);
	box-shadow: 0 0 0 0 rgba(99, 102, 241, 0.5);
	animation: pulse-c6zlskmd 1.2s infinite;
}

@keyframes pulse-c6zlskmd {
	100% {
		box-shadow: 0 0 0 33.6px #0000;
	}
}

.radio {
	@apply h-6 w-6 border-[#A6A6A6];
	svg {
		@apply size-3 transition-all duration-300 ease-in-out;
	}
}

.radio[data-state='checked'] {
	@apply border-blue-50;
	svg {
		fill: var(--color-blue-50);
	}
}
div[role='dialog'] .lucide-x {
	display: none;
}

.s-check {
	path {
		fill: #fff;
	}
}

.data-\[state\=checked\]\:bg-primary[data-state='checked'] {
	@apply bg-blue-950;
}
button[role='checkbox'] {
	@apply size-6;
}
div[data-input-otp-container='true'] {
	@apply w-full justify-between;
}
div[data-slot='input-otp-slot'] {
	@apply border-l-[#C4C4C4] border-l rounded-[4px] h-[3.5rem] w-[3.5rem];
}

div[data-slot='input-otp-slot'][data-active='true'] {
	@apply shadow-none ring-0 border-input;
}
